body{
 background-color: #5A8F95;
 background-image: url(../img/background_1.png);
}

a {
 cursor:pointer;
 word-wrap: break-word;
}
h1,h2,h3,h4,h5,h6 {
 margin: 0 0 0 0;
 padding:0 0 0 0;
 font-weight: bold;
}
p {
 margin: 0 0 0 0;
 padding:0 0 0 0;
 word-wrap: break-word;
}
a,
a.btn-link {
 color: #0298AB;
}
a:hover,
a.btn-link:hover {
 color:#016875;
}


/*---------------------------------------------
----------------- BACKGROUNDS -----------------
----------------------------------------------*/
.ic-background-1 {
 background-color: #222930;
 color: #4EB1BA;
}



.ic-heading-1 {
 margin-top: 100px;
 text-align: center;
}
.ic-heading-1 .ic-title{
 font-size: 3.0em;
 font-weight: bold;
 color: #FFF;
}
.ic-heading-1 .ic-description{
 font-size: 1.4em;
 color: #FFF;
}
.ic-heading-1 .ic-extra-description{
 font-size: 1.0em;
 color: #F2F2F2;
}
.ic-center {
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.ic-play-btn-row {
	margin-top: 50px;
 margin-bottom: 500px;
}

.ic-play-btn {
 margin-bottom: 10px;
	height: 80px;
	font-size: 2.5em;
	line-height: 60px;
 border: #EEE solid 5px;
 color: #F2F2F2;
}

.ic-play-btn:hover {
 border: #BBB solid 5px;
 color: #CCC;
}



.ic-scrollable {
 overflow-y: auto;
 height: 400px;
}

.ic-chat-row {
 display: block;
 min-height:50px;
 background-color: #F2F2F2;
}
.ic-chat-row:hover {
 background-color: #E2E2E2;
}

.ic-box-1 {
 overflow: hidden;
 height: 100px;
 padding:10px;
 display: block;
 width: 100%;
 border: #EEE solid 5px;
 color: #F2F2F2;
}

.ic-box-1:hover {
 border: #BBB solid 5px;
 color: #CCC;
}

.ic-box-1 .ic-icon-2 {
 margin: 10px 5px auto 5px;
}

.ic-box-1 i{
 margin-top: 11px;
 color: #CCC;
}
.ic-box-1 .ic-heading {
 color: #FAFAFA;
}
.ic-box-1 .ic-title{
 padding:0px;
 font-size: 1.5em;
 text-align: left;
 text-decoration: none;
 overflow: hidden;
}
.ic-box-1 .ic-description{
 padding:0;
 font-size: 1.1em;
 text-align: left;
 text-decoration: none;
 overflow: hidden;
 margin-bottom: 0;
}


.ic-box-2 {
 overflow: hidden;
 text-align: center;
 margin-top: 20px;
 height: 150px;
 padding:10px;
 display: block;
 width: 100%;
 border: #EEE solid 5px;
 color: #F2F2F2;
}

.ic-box-2:hover {
 border: #BBB solid 5px;
 color: #CCC;
}

.ic-box-2 .ic-icon-2 {
 margin: 10px 5px auto 5px;
}

.ic-box-2 i{
 margin-top: 11px;
 color: #CCC;
}
.ic-box-2 .ic-heading {
 color: #FAFAFA;
}
.ic-box-2 .ic-title{
 padding:0;
 margin-bottom: 5px;
 font-size: 1.3em;
 font-weight: bold;
 text-decoration: none;
 overflow: hidden;
}
.ic-box-2 .ic-description{
 padding:0;
 font-size: 1.2em;
 text-decoration: none;
 overflow: hidden;
 margin-bottom: 0;
}

.ic-modal-lg .modal-dialog,
.ic-modal-lg .modal-content,
.ic-modal-lg .modal-footer {
 position: absolute;
 width: auto;
}

.ic-modal-lg .modal-dialog {
 opacity: 0.8;
 top: 50px;
 right: 50px;
 bottom: 50px;
 left: 50px;

}
.ic-modal-lg .modal-content {
 top: 0px;
 right: 0px;
 bottom: 0px;
 left: 0px;
 background-color: #222930;
 color: #FFF;
}

.ic-modal-lg .modal-header {
 position: absolute;
 height: 70px;
 top: 0px;
 right: 0px;
 left: 0px;
 background-color: #0F1215;
}
.ic-modal-lg .modal-header .modal-title{
 font-size: 1.5em;
 color: #4EB1BA;
}

.ic-modal-lg .modal-body {
 position: absolute;
 overflow: hidden;
 padding: 0px;
 top: 71px;
 right: 0px;
 bottom: 51px;
 left: 0px;
}
.ic-modal-lg .modal-footer {
 right: 0px;
 bottom: 0px;
 left: 0px;
 height: 50px;
}
.ic-modal-lg .modal-dialog {
 margin: 0;
}

.ic-modal-lg .modal-content {
 border: none;
 -moz-border-radius: 0;
 border-radius: 0;
 -webkit-box-shadow: inherit;
 -moz-box-shadow: inherit;
 -o-box-shadow: inherit;
 box-shadow: inherit;
}

.modal-header{
 padding:15px;
 border-bottom: #0298AB solid 4px;
}

.modal-header button{
 margin-top: 5px;
 font-weight: bold;
 font-size: 0.6em;
 color:#FF3333;
}

.ic-accept-invitation-form {
 margin-top: 20px;
}
.ic-accept-invitation-form  .ic-heading{
 font-size: 1.2em;
 text-align: center;
 margin-bottom: 15px;
}

.ic-display-table {
 display: table;
 height: 100%;
 width: 100%;
}
.ic-display-cell {
 padding: 15px;
 display:table-cell;
	text-align: center;
 vertical-align: middle;
	font-size: 7.0em;
 font-weight: bold;
}


.ic-display-cell-2 {
 padding: 15px;
 display:table-cell;
	text-align: center;
 vertical-align: middle;
	font-size: 1.0em;
 font-weight: bold;
}

#ic-navbar {
 margin-bottom: 0px;
 background-color: #FFF;
 font-family:arial,sans-serif;
 top:0;
 left:0;
 position:fixed;
 width: 100%;
 height: 60px;
 opacity: 0.7;
 filter: alpha(opacity=90);
}

#ic-navbar:hover {
 opacity:1;
 filter: alpha(opacity=100);
}

#ic-navbar {
 border-bottom: #0298AB solid 1px!important;
}

#ic-navbar-nav a {
 color: #0298AB;
 cursor: pointer!important;
}
.navbar-header {
 padding-top: 12px;
}

.navbar-header a {
 text-decoration: none;
}
.navbar-header a strong {
 color:  #0298AB;
}
.navbar-header .ic-logo {
 font-size: 1.6em;
}

.navbar-header .ic-logo small {
 font-size: 10px;
 color: #BE4B49;
}

#ic-navbar-nav {
 margin-top: 15px;
}
#ic-navbar-nav a {
 text-align: center;
 display: block;
 text-decoration: none;
}
#ic-navbar-nav a:hover {
 color: #111;
}
#ic-navbar-nav img:not(.ic-img-default) {
 height:30px;
 width: 35px;
}
#ic-navbar-nav .thumbnail {
 padding: 15px 0 8px 0;
 background-color: transparent;
 border: none;
 border-radius: 0;
 margin-bottom: 0px;
}
#ic-navbar-nav .caption {
 margin-bottom: 0px;
 padding: 8px 0 0 0;
}

.ic-no-margin {
 margin: 0 0 0 0!important;
}
.ic-padding-none {
 padding: 0 0 0 0!important;
}
.ic-padding-thin {
 padding: 5px!important;
}
.ic-padding-thinner {
 padding: 2px!important;
}
.ic-padding-medium {
 padding: 8px!important;
}
.ic-padding-thickest {
 padding: 25px!important;
}
.ic-wizard-menu {
 padding: 0;
 height: 100%;
 background-color: #E2E2E2;
}
.ic-wizard-menu-box {
 padding: 10px;
 width: 100%;
 border-bottom: #999 solid 1px;
}
.ic-wizard-menu-box .ic-title {
 font-size: 1.4em;
 font-weight: bold;
}
.ic-wizard-menu-box .ic-description {
 font-size: 1.0em;
}

.ic-wizard-content {
 padding: 10px;
 height: 100%;
 overflow-y: auto;
 overflow-x: hidden;
}


@media (max-width: 960px) {
 .ic-modal-lg .modal-dialog {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
 }
}
@media (max-width: 768px) {
 #ic-navbar {
  width:100%;
  position:relative!important;
 }
 .ic-display-cell {
  padding: 5px;
  font-size: 2.0em;
 }
}