body{
}

.gb-home-header-1 {
 height: 800px;
 background-image: url(../img/background_1.png);
}

a,
a.btn-link {
 color: #0298AB;
}

a:hover,
a.btn-link:hover {
 color:#016875;
}

.ic-play-btn {
 opacity: 0.7;
	margin-top: 200px;
	height: 100px;
	font-size: 2.3em;
	line-height: 90px;
 border: #AAA solid 2px;
 color: #FFF;
}

.ic-play-btn:hover {
 opacity: 1;
 background-color: #FFF;
 color: #444;
}

.ic-scrollable {
 overflow-y: auto;
 height: 400px;
}

.ic-chat-row {
 display: block;
 min-height:50px;
 background-color: #F2F2F2;
}
.ic-chat-row:hover {
 background-color: #E2E2E2;
}

.ic-modal-lg .modal-dialog,
.ic-modal-lg .modal-content,
.ic-modal-lg .modal-footer {
 position: absolute;
 width: auto;
}

.ic-modal-lg .modal-dialog {
 top: 50px;
 right: 50px;
 bottom: 50px;
 left: 52px;
}
.ic-modal-lg .modal-content {
 top: 0px;
 right: 0px;
 bottom: 0px;
 left: 0px;
}
.ic-modal-lg .modal-footer {
 right: 0px;
 bottom: 0px;
 left: 0px;
 height: 50px;
}

.ic-modal-lg .modal-dialog {
 margin: 0;
}

.ic-modal-lg .modal-content {
 border: none;
 -moz-border-radius: 0;
 border-radius: 0;
 -webkit-box-shadow: inherit;
 -moz-box-shadow: inherit;
 -o-box-shadow: inherit;
 box-shadow: inherit;
}










#ic-display {
	margin-top: 200px;
	text-align: center;
	font-size: 5.0em;
}

#ic-navbar {
 margin-bottom: 0px;
 background-color: #FFF;
 font-family:arial,sans-serif;
 top:0;
 left:0;
 position:fixed;
 width: 100%;
 height: 70px;
 opacity: 0.90;
 filter: alpha(opacity=90);
}

#ic-navbar:hover {
 opacity:1;
 filter: alpha(opacity=100);
}

#ic-navbar {
 border-bottom: #0298AB solid 1px!important;
}

#gb-navbar-nav a {
 color: #0298AB;
 cursor: pointer!important;
}
.navbar-header {
 padding-top: 15px;
 text-align: center;
}

.navbar-header a {
 text-decoration: none;
}
.navbar-header a strong {
 color:  #0298AB;
}
.navbar-header .ic-logo {
 margin-top: 15px;
 font-size: 1.6em;
}

.navbar-header .ic-logo small {
 font-size: 10px;
 color: #BE4B49;
}

#ic-navbar-nav {
}
#ic-navbar-nav a {
 text-align: center;
 display: block;
 text-decoration: none;
}
#ic-navbar-nav a:hover {
 color: #111;
}
#ic-navbar-nav img:not(.ic-img-default) {
 height:30px;
 width: 35px;
}
#ic-navbar-nav .thumbnail {
 padding: 15px 0 8px 0;
 background-color: transparent;
 border: none;
 border-radius: 0;
 margin-bottom: 0px;
}
#ic-navbar-nav .caption {
 margin-bottom: 0px;
 padding: 8px 0 0 0;
}

.ic-no-margin {
 margin: 0 0 0 0!important;
}
.ic-padding-none {
 padding: 0 0 0 0!important;
}
.ic-padding-thin {
 padding: 5px!important;
}
.ic-padding-thinner {
 padding: 2px!important;
}
.ic-padding-medium {
 padding: 8px!important;
}
.ic-padding-thickest {
 padding: 25px!important;
}