body {
 overflow-x: hidden;
}

input {
 color: #222;
}

textarea {
 resize: none;
}

#ic-sound {
 background-color: #24393B;
 position: absolute;
 bottom: 0px;
 left: 0px;
}

#ic-body {
 background-image: url(../img/background_1.png);
 background-size: 100%;
 background-color: #24393B;
 position: absolute;
 overflow-y: auto;
 top: 58px;
 right: 0px;
 bottom: 0px;
 left: 0px;
 color: #FFF;
}

.ic-gutter-bottom{
 padding-bottom: 100px;
}

.ic-container {
 margin-top: 70px;
 padding-top: 50px;
}

.ic-container-play {
 padding: 0;
 height: 100%;
 width: 100%;
}

.ic-dim-3 {
 background-color: #110B09;
 opacity: 0.9;
}

.ic-intro-header-1 {
 color: #FFF;
 padding: 100px 0 0 0;
}

.ic-intro-header-1 .ic-title {
 color: #FFF;
 font-size: 2.0em;
}
.ic-intro-header-1 .ic-description {
 color: #EEE;
 font-size: 1.4em;
}

.ic-signup-box  {
 padding: 25px 10px 25px 10px;
 margin-bottom: 30px;
 color: #FFF;
}

#ic-footer {
 padding-top: 10px;
 position: absolute;
 height: 60px;
 right: 0px;
 bottom: 0px;
 left: 0px;
 color: #FFF;
 overflow: hidden;
 opacity: 0.8;
}

a {
 cursor:pointer;
 word-wrap: break-word;
}
h1,h2,h3,h4,h5,h6 {
 margin: 0 0 0 0;
 padding:0 0 0 0;
 font-weight: bold;
}
p {
 margin: 0 0 0 0;
 padding:0 0 0 0;
 word-wrap: break-word;
}
a,
a.btn-link {
 color: #B38D82;
}
a:hover,
a.btn-link:hover {
 color:#98786E;
}
.input-lg {
 border-radius: 0;
 border: none;
}
.btn-primary {
 background-color: #866A61;
 border: #866A61 solid 1px;
 border-radius: 0;
}
.btn-primary:hover {
 background-color: #6B554E;
 border: #6B554E solid 1px;
}

.ic-disabled {
 pointer-events: none;
 opacity: 0.35;
}

.ic-hide {
 display: none;
}


/*---------------------------------------------
----------------- BACKGROUNDS -----------------
----------------------------------------------*/
.ic-background-1 {
 background-color: #222930;
 color: #4EB1BA;
}



.ic-heading-1 {
 margin-top: 50px;
 text-align: center;
}
.ic-heading-1 .ic-title{
 font-size: 3.0em;
 font-weight: bold;
 color: #FFF;
}
.ic-heading-1 .ic-description{
 font-size: 1.4em;
 color: #FFF;
}
.ic-heading-1 .ic-extra-description{
 font-size: 1.0em;
 color: #F2F2F2;
}
.ic-center {
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.ic-play-btn-row {
	margin-top: 30px;
 margin-bottom: 20px;
}

.ic-play-btn {
 margin-bottom: 10px;
	height: 80px;
	font-size: 2.5em;
	line-height: 60px;
 border: #EEE solid 5px;
 color: #F2F2F2;
}

.ic-play-btn:hover {
 border: #BBB solid 5px;
 color: #CCC;
}



.ic-scrollable {
 overflow-y: auto;
 height: 400px;
}

.ic-chat-row {
 display: block;
 min-height:50px;
 background-color: #F2F2F2;
}
.ic-chat-row:hover {
 background-color: #E2E2E2;
}

.ic-box-1 {
 margin-top: 20px;
 overflow: hidden;
 height: 100px;
 padding:10px;
 display: block;
 width: 100%;
 border: #EEE solid 2px;
 color: #F2F2F2;
}

.ic-box-1:hover {
 border: #BBB solid 2px;
 color: #CCC;
}

.ic-box-1 .ic-icon-2 {
 margin: 10px 5px auto 5px;
}

.ic-box-1 i{
 margin-top: 11px;
 color: #CCC;
}
.ic-box-1 .ic-heading {
 color: #FAFAFA;
}
.ic-box-1 .ic-title{
 padding:0px;
 font-size: 1.5em;
 text-align: left;
 text-decoration: none;
 overflow: hidden;
}
.ic-box-1 .ic-description{
 padding:0;
 font-size: 1.1em;
 text-align: left;
 text-decoration: none;
 overflow: hidden;
 margin-bottom: 0;
}


.ic-box-2 {
 overflow: hidden;
 text-align: center;
 margin-top: 20px;
 height: 120px;
 padding:10px;
 display: block;
 width: 100%;
 border: #EEE solid 5px;
 color: #F2F2F2;
}

.ic-box-2:hover {
 border: #BBB solid 5px;
 color: #CCC;
}

.ic-box-2 .ic-icon-2 {
 margin: 10px 5px auto 5px;
}

.ic-box-2 i{
 margin-top: 11px;
 color: #CCC;
}
.ic-box-2 .ic-heading {
 color: #FAFAFA;
}
.ic-box-2 .ic-title{
 padding:0;
 margin-bottom: 5px;
 font-size: 1.3em;
 font-weight: bold;
 text-decoration: none;
 overflow: hidden;
}
.ic-box-2 .ic-description{
 padding:0;
 font-size: 1.2em;
 text-decoration: none;
 overflow: hidden;
 margin-bottom: 0;
}

.ic-box-3 {
 margin: 0;
 padding:10px;
 overflow: hidden;
 height: 80px;
 display: block;
 width: 100%;
 border-bottom: #999 solid 1px;
}

.ic-box-3:hover {
 border-bottom: #555 solid 2px;
}

.ic-box-3 .ic-icon-2 {
 margin: 10px 5px auto 5px;
}

.ic-box-3 i{
 margin-top: 11px;
 color: #CCC;
}
.ic-box-3 .ic-heading {
 color: #555;
}
.ic-box-3 .ic-title{
 padding:0;
 margin-bottom: 5px;
 font-size: 1.3em;
 font-weight: bold;
 text-decoration: none;
 overflow: hidden;
}
.ic-box-3 .ic-description{
 padding:0;
 font-size: 1.2em;
 text-decoration: none;
 overflow: hidden;
 margin-bottom: 0;
}

.ic-modal-lg .modal-dialog,
.ic-modal-lg .modal-content,
.ic-modal-lg .modal-footer {
 position: absolute;
 width: auto;
}

.ic-modal-lg .modal-dialog {
 opacity: 0.8;
 top: 50px;
 right: 50px;
 bottom: 50px;
 left: 50px;

}
.ic-modal-lg .modal-content {
 top: 0px;
 right: 0px;
 bottom: 0px;
 left: 0px;
 background-color: #222930;
 color: #FFF;
}

.ic-modal-lg .modal-header {
 position: absolute;
 height: 70px;
 top: 0px;
 right: 0px;
 left: 0px;
 background-color: #0F1215;
}
.ic-modal-lg .modal-header .modal-title{
 font-size: 1.5em;
 color: #4EB1BA;
}

.ic-modal-lg .modal-body {
 position: absolute;
 overflow: hidden;
 padding: 0px;
 top: 71px;
 right: 0px;
 bottom: 51px;
 left: 0px;
}
.ic-modal-lg .modal-footer {
 right: 0px;
 bottom: 0px;
 left: 0px;
 height: 50px;
}
.ic-modal-lg .modal-dialog {
 margin: 0;
}

.ic-modal-lg .modal-content {
 border: none;
 -moz-border-radius: 0;
 border-radius: 0;
 -webkit-box-shadow: inherit;
 -moz-box-shadow: inherit;
 -o-box-shadow: inherit;
 box-shadow: inherit;
}

.modal-header{
 padding:15px;
 border-bottom: #533431 solid 4px;
}

.modal-header button{
 margin-top: 5px;
 font-weight: bold;
 font-size: 0.6em;
 color:#FF3333;
}

.ic-accept-invitation-form {
 margin-top: 20px;
}
.ic-accept-invitation-form  .ic-heading{
 font-size: 1.2em;
 text-align: center;
 margin-bottom: 15px;
}

.ic-display-table {
 display: table;
 height: 100%;
 width: 100%;
 padding: 15px;
}
.ic-display-cell {
 display:table-cell;
	text-align: center;
 vertical-align: middle;
	font-size: 10.0em;
 font-weight: bold;
}


.ic-display-cell-2 {
 padding: 15px;
 display:table-cell;
	text-align: center;
 vertical-align: middle;

}

.ic-display-cell-2 .ic-title {
 font-size: 3.0em;
}
.ic-display-cell-2 .ic-description {
 font-size: 2.0em;
}
.ic-display-cell-2 .ic-code {
 font-size: 7.0em;
 font-weight: bold;
}

#ic-navbar {
 margin-bottom: 0px;
 background-color: #3E312D;
 font-family:arial,sans-serif;
 top:0;
 left:0;
 position:fixed;
 width: 100%;
 height: 60px;
 filter: alpha(opacity=90);
 border-bottom: #866A61 solid 5px!important;
}

#ic-navbar-nav a {
 color: #866A61;
 cursor: pointer!important;
}
.navbar-header {
 padding-top: 12px;
}

.navbar-header a {
 text-decoration: none;
}
.navbar-header a strong {
 color: #A17F75;
}
.navbar-header .ic-logo {
 font-size: 1.6em;
}

.navbar-header .ic-logo small {
 font-size: 10px;
 color: #BE4B49;
}

#ic-navbar-nav {
 margin-top: 15px;
}
#ic-navbar-nav a {
 text-align: center;
 display: block;
 text-decoration: none;
}
#ic-navbar-nav a:hover {
 color: #111;
}
#ic-navbar-nav img:not(.ic-img-default) {
 height:30px;
 width: 35px;
}
#ic-navbar-nav .thumbnail {
 padding: 15px 0 8px 0;
 background-color: transparent;
 border: none;
 border-radius: 0;
 margin-bottom: 0px;
}
#ic-navbar-nav .caption {
 margin-bottom: 0px;
 padding: 8px 0 0 0;
}

.ic-no-margin {
 margin: 0 0 0 0!important;
}
.ic-padding-none {
 padding: 0 0 0 0!important;
}
.ic-padding-thin {
 padding: 5px!important;
}
.ic-padding-thinner {
 padding: 2px!important;
}
.ic-padding-medium {
 padding: 8px!important;
}
.ic-padding-thickest {
 padding: 25px!important;
}
.ic-wizard-menu {
 padding: 0;
 height: 100%;
 background-color: #E2E2E2;
}
.ic-wizard-menu-box {
 padding: 10px;
 width: 100%;
 border-bottom: #999 solid 1px;
}
.ic-wizard-menu-box .ic-title {
 font-size: 1.4em;
 font-weight: bold;
}
.ic-wizard-menu-box .ic-description {
 font-size: 1.0em;
}

.ic-wizard-content {
 margin: 0;
 padding: 0px;
 height: 100%;
 overflow-y: auto;
 overflow-x: hidden;
}


@media (max-width: 960px) {
 .ic-modal-lg .modal-dialog {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
 }

 .ic-heading-1 .ic-title{
  font-size: 2.5em;
 }
 .ic-heading-1 .ic-description{
  font-size: 1.5em;
 }

 .ic-display-cell {
  padding: 5px;
  font-size: 7.0em;
 }
}
@media (max-width: 767px) {
 #ic-navbar {
  width:100%;
  position:relative!important;
 }

 .ic-intro-header-1 {
  padding-top: 20px;
 }
 .ic-display-cell {
  padding: 5px;
  font-size: 4.0em;
 }
 .ic-display-cell-2 .ic-title {
  font-size: 1.7em;
 }
 .ic-display-cell-2 .ic-description {
  font-size: 1.2em;
 }
 .ic-display-cell-2 .ic-code {
  font-size: 5.0em;
  font-weight: bold;
 }

 .ic-heading-1 {
  margin-top: 20px;
 }
 .ic-heading-1 .ic-title{
  font-size: 1.3em;
 }
 .ic-heading-1 .ic-description{
  font-size: 1.1em;
 }
 .ic-play-btn-row {
  margin-top: 30px;
  margin-bottom: 10px;
 }

 .ic-play-btn {
  margin-bottom: 10px;
  height: 60px;
  font-size: 1.5em;
  line-height: 40px;
  border: #EEE solid 3px;
 }

 .ic-play-btn:hover {
  border: #BBB solid 3px;
 }
}

@media (max-width: 450px) {

 .ic-display-cell {
  padding: 5px;
  font-size: 3.0em;
 }
}