body{
}

.im-play-btn {
	margin-top: 200px;
	height: 100px;
	font-size: 3.3em;
	line-height: 100px;
}
#im-display {
	margin-top: 200px;
	text-align: center;
	font-size: 5.0em;
}


#ic-navbar {
 margin-bottom: 0px;
 background-color: #FFF;
 font-family:arial,sans-serif;
 top:0;
 left:0;
 position:fixed;
 width: 100%;
 opacity: 0.90;
 filter: alpha(opacity=90);
}
#ic-navbar:hover {
 opacity:1;
 filter: alpha(opacity=100);
}

.navbar-header .ic-logo {
 font-size: 1.6em;
}

#ic-navbar-nav {
 margin-top: 11px;
}
#ic-navbar-nav a {
 text-align: center;
 display: block;
 text-decoration: none;
}
#ic-navbar-nav a:hover {
 color: #111;
}
#ic-navbar-nav img:not(.ic-img-default) {
 height:30px;
 width: 35px;
}
#ic-navbar-nav .thumbnail {
 padding: 15px 0 8px 0;
 background-color: transparent;
 border: none;
 border-radius: 0;
 margin-bottom: 0px;
}
#ic-navbar-nav .caption {
 margin-bottom: 0px;
 padding: 8px 0 0 0;
}

.ic-no-margin {
 margin: 0 0 0 0!important;
}
.ic-padding-none {
 padding: 0 0 0 0!important;
}
.ic-padding-thin {
 padding: 5px!important;
}
.ic-padding-thinner {
 padding: 2px!important;
}
.ic-padding-medium {
 padding: 8px!important;
}
.ic-padding-thickest {
 padding: 25px!important;
}