<div class="gb-home-header-1 row text-center">
 <div class="container">
  <a data-toggle="modal"
     data-target="#quick-play"
     ng-click="quickPlay()"
     class="ic-play-btn btn col-lg-offset-2 col-lg-4">
   Quick Chat
  </a>
  <a data-toggle="modal"
     data-target="#open-chat"
     class="ic-play-btn btn col-lg-4">
   Request Chat
  </a>
 </div>
</div>
<div class="modal ic-modal-lg" id="quick-play">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
     <span aria-hidden="true">&times;</span>
     <span class="sr-only">close</span>
    </button>
    <h4 class="modal-title">Quick Play</h4>
   </div>
   <div class="modal-body">
    <div id="ic-display" class="row">
     {{improvConv.currentAction.Description}}
    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">End</button>
   </div>
  </div>
 </div>
</div>

<div class="modal" id="open-chat">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
     <span aria-hidden="true">&times;</span>
     <span class="sr-only">close</span>
    </button>
    <h4 class="modal-title">Play</h4>
   </div>
   <div class="modal-body">
    <div class="ic-scrollable row">
     <ng-switch on="wizardStep">
      <div ng-switch-when="0">
       <ul class="list-group">
        <li ng-repeat="chat in chats" class="list-group-item">
         <a class="ic-chat-row col-lg-12 col-md-12 col-sm-12 col-xs-12"
            ng-click="selectChat($index)">
          {{chat.title}}
         </a>
        </li>
       </ul>
      </div>
      <div ng-switch-when="1">
       <div class="row ic-selected-heading">
        <h4>{{selectedChat.title}}</h4>
       </div>
       <ul class="list-group">
        <li ng-repeat="user in users" class="list-group-item">
         <a class="btn btn-link"
            ng-click="selectUser(user)">
          {{user.firstname + " " + user.lastname}}
         </a>
         <a class="btn btn-xs btn-primary pull-right"
            ng-click="requestChat(user)">
          Request
         </a>
        </li>
       </ul>
      </div>
     </ng-switch>
    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Poo</button>
   </div>
  </div>
 </div>
</div>