<div class="container">
 <div class="row ">
  <div class="ic-heading-1 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 col-lg-8 col-md-8 col-sm-10 col-xs-12">
   <div class="ic-title">
    Try it, start a normal conversation
   </div>
   <div class="ic-description">
    except at random times a situation/statement will appear on the screen and then you have to act it out while continuing your conversation.
   </div>
   <div class="ic-extra-description">
    You will hear a sound when a situation changes.
   </div>
  </div>
 </div>
 <div class="row ic-play-btn-row">
  <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 col-lg-4 col-md-4 col-sm-5 col-xs-12">
   <a data-toggle="modal"
      data-backdrop="static"
      data-keyboard="false"
      data-target="#quick-play"
      ng-click="quickPlay()"
      class="ic-play-btn btn col-lg-12 col-md-12 col-sm-12 col-xs-12">
    Start Quick Chat
   </a>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
   <a data-toggle="modal"
      data-backdrop="static"
      data-keyboard="false"
      data-target="#open-chat"
      class="ic-play-btn btn col-lg-12 col-md-12 col-sm-12 col-xs-12">
    Start Request Chat
   </a>
  </div>
 </div>
</div>
<div class="modal ic-modal-lg" id="quick-play">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
     <span aria-hidden="true">&times;</span>
     <span class="sr-only">close</span>
    </button>
    <div class="modal-title text-center">
     QUICK CHAT PLAY
    </div>
   </div>
   <div class="modal-body">
    <div class="ic-display-table">
     <div class="ic-display-cell">
      {{improvConv.currentAct.description}}
     </div>
    </div>
   </div>
   <div class="modal-footer">
    <div class="btn-group col-lg-offset-5 col-lg-2">
     <button type="button"
             data-ng-click="improvConv.restartQuickPlay()"
             class="btn btn-default col-lg-6">
      Restart
     </button>
     <button type="button"
             class="btn btn-danger col-lg-6"
             data-ng-click="improvConv.endQuickPlay()"
             data-dismiss="modal">
      End
     </button>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="modal ic-modal-lg" id="open-chat">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
     <span aria-hidden="true">&times;</span>
     <span class="sr-only">close</span>
    </button>
    <div class="modal-title text-center">
     Request Chat Play {{selectedChat.title}}
    </div>
   </div>
   <div class="modal-body">
    <ng-switch on="wizardStep" class="ic-wizard-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div ng-switch-when="0">
      <div ng-repeat="chat in chats"
           class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
       <div ng-click="selectChat($index)" class="ic-box-1">
        <div class="ic-title">
         {{chat.title}}
        </div>
        <p class="ic-description">
         {{chat.description}}
        </p>
       </div>
      </div>
     </div>
     <div ng-switch-when="1">
      <div class="row ic-selected-heading">
       <h4>{{selectedChat.title}}</h4>
      </div>
      <ul class="list-group">
       <li ng-repeat="user in users" class="list-group-item">
        <a class="btn btn-link"
           ng-click="selectUser(user)">
         {{user.firstname + " " + user.lastname}}
        </a>
        <a class="btn btn-xs btn-primary pull-right"
           ng-click="requestChat(user)">
         Request
        </a>
       </li>
      </ul>
     </div>
    </ng-switch>
   </div>
  </div>
  <div class="modal-footer">
   <div class="btn-group col-lg-offset-5 col-lg-2">
    <button type="button"
            data-ng-click="improvConv.restartChat()"
            class="btn btn-default col-lg-6">
     Restart
    </button>
    <button type="button"
            class="btn btn-danger col-lg-6"
            data-ng-click="improvConv.endChat()"
            data-dismiss="modal">
     End
    </button>
   </div>
  </div>
 </div>
</div>